transformers==4.39.0
accelerate==0.28.0 
bitsandbytes==0.43.0 
langchain==0.1.11 
tiktoken 
faiss-cpu 
openai==1.13.3
sentence-transformers 
langchain_community==0.0.27
gradio
torch
datasets
peft
trl
langdetect
langid
alt-profanity-check
huggingface_hub
apscheduler